<!DOCTYPE HTML>
<head>
	<title>Idea app - About</title>
	<link rel="stylesheet" type="text/css" href="../styles/idea_app.css">
</head>
<body>
	<h1>Idea app</h1>
	<%= @header %>
	<div class="descr-text">
		This website is an exercise in Ruby and Sinatra. Still a work in progress. Feel welcome to see the <a href="https://github.com/martaradeva/sinatra">Github page</a> of the project.
	</div>
</body>