<!DOCTYPE HTML>
<head>
	<title>Idea app - View</title>
</head>
<body>
	<h1>Idea app</h1>
	<%= @header %>
<!-- 	<div class="header">
		<a href="home.html">Home</a>
		<a href="upload.html">Upload</a>
		<a href="about.html">About</a>
	</div> -->
	<div class="descr-text">
		This is a page to view an idea in.
	</div>
	<table class="idea-table">
		<tr><% idea=@ideas[@number.to_sym]%>
			<td>Date:</td>
			<td><%= idea[:date_modified]%></td>
		</tr>
		<tr>
			<td><h1>Name:</h1></td>
			<td><%= idea[:id]%></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><%= idea[:description]%></td>
		</tr>
	</table>
</body>