<!DOCTYPE HTML>
<head>
	<meta http-equiv="refresh" content="3;URL='./'" />
	<!-- <meta http-equiv="refresh" wait=300 content="0; url=./" /> --> <!-- redirect needs to wait -->
	<title>Idea Successfully Uploaded</title>
	<link rel="stylesheet" type="text/css" href="/idea_app.css">
</head>
<body>
	<div class="picture-header">
		<div class="title">Idea app</div>
	</div>
	<%= @header %>
	<div class="descr-text">
		Your changes were saved. </p>
		You will shortly be redirected to the <a href= "/">Home</> page.
	</div>
</body>