<!DOCTYPE HTML>
<head>
	<title>Idea app - Upload</title>
</head>
<body>
	<h1>Idea app</h1>
	<%= @header %>
<!-- 	<div class="header">
		<a href="home.html">Home</a>
		<a href="upload.html">Upload</a>
		<a href="about.html">About</a>
	</div> -->
	<div class="descr-text">
		Here Ideas will be uploaded. Coming soon!
	</div>
<!-- 	<table class="idea-table">
		<tr> <td colspan="3">List of ideas</td></tr>
		<tr>
			<td>Number</td>
			<td>Name</td>
			<td>Description</td>
		</tr>
		<tr> 
		 </tr>
	</table> -->
</body>