<!DOCTYPE HTML>
<head>
	<title>Idea app - Upload</title>
</head>
<body>
	<h1>Idea app</h1>
	<%= @header %>
	<div class="descr-text">
		On this page you can upload a new idea. 
	</div>
	<form class="input_form" method="post">
		Idea title<input type="textarea" name="title" /><br>
		Idea description<input type="textarea" name="description" /><br>
		Date modified<input type="textarea" name="date_modified" /><br>
		<input type="submit" value="Upload idea">
	</form>

<!-- 	<table class="idea-table">
		<tr> <td colspan="3">List of ideas</td></tr>
		<tr>
			<td>Number</td>
			<td>Name</td>
			<td>Description</td>
		</tr>
		<tr> 
		 </tr>
	</table> -->
</body>