<!DOCTYPE HTML>
<head>
	<title>Idea app - Home</title>
</head>
<body>
	<h1>Idea app</h1>
	<div class="header">
		<a href="home.html">Home</a>
		<a href="upload.html">Upload</a>
		<a href="about.html">About</a>
	</div>
	<div class="descr-text">
		This is a dynamic app to upload ideas to. 
	</div>
	<table class="idea-table">
		<tr> <td colspan="3">List of ideas</td></tr>
		<tr>
			<td>Date</td>
			<td>Name</td>
			<td>Description</td>
		</tr>
		<tr>
			<% ideas.each do |idea|  %>
			<tr>
				<% idea["id"] = ideas.to_s%>
				<td><%= idea["date_modified"]%></td>
				<td><%= idea["id"]%></td>
				<td><%= idea["description"]%></td>
			</tr>
			<% end %>
		 </tr>
	</table>
</body>